h1{
    font-family:URW Chancery L, cursive ;
}
.hero{
    background-color: blue;
}
.hero{
    background-color: #2f303a;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;

    
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
     url("yaay.jpg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
h1{
    color: crimson;
}
.hero2{
 color: black;
}
h2{
    font-family:URW Chancery L, cursive ;
}
.king2{
    background-color: crimson;
}
.king{
color: black;
border-radius: 10px;
}
.box3{
    background-color: crimson;
    width: 500px;
    border-radius: 10px;
}
.box4{
    color: black;
    width: 450px;
}
.box5{
width: 800px;
height: 550pxs;
}

   


     

header{
    background:url("1616425148_23-p-istoricheskii-fon-28.jpg")
}
footer{
    background-color: #2f303a;
    height: 290px;
} 
.box9{
    margin-top: 50px;
}
.box10 :hover{
    color: azure;
    color: deepskyblue;
}
.box11{
width: 50px;
}
